/* Keyframes */

@keyframes logo_efecto{
    0%{
        box-shadow: 0 0 5px black;
    }

    50%{
        box-shadow: 1px 1px 5px orange, 0 0 5px orange;
    }

    100%{
        box-shadow: 0 0 5px black;
    }
}

/* HEADER ITMES */
.header .kalima_logo{
    width: 150px;
    border-radius: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    float: right;
    cursor: pointer;
    animation: logo_efecto 5s infinite ease-out;
    transition: box-shadow .5s;
}