// Menu

.parallax{
    background: $bg-color;
    list-style: none;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    border: 2px solid black;
    user-select: none;
        li{
            display: inline-block;
            padding: 10px;
            margin: 5px;
        }
        a{
            text-decoration: none;
            color: $primary-color;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            transition: color .2s;
                &:hover{
                    color:$secondary-color;
            }
        }
        .account-login{
            font-family: $font-third;
            color: $secondary-color;
            position: absolute;
            top: -1px;
            left: -2px;
            border-radius: 12px;
            padding: 20px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bolder;
            bottom: -1px;
        }
}


// Footer

.footer{
    grid-area: FOOTER;
    position:absolute;
    bottom:0;
    width: 100%;
    .contacto{  /* Contacto Email */
        font-family:$font-fourth;
        color:$secondary-color;
        background-color: $footer-color;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        padding: 20px;
        justify-content: center;
        transition: all .2s;
        &:hover{
            text-shadow: 0px 0px 5px;
            text-decoration: underline;
        }
    }    
    .footer_redes{
        font-family: $font-redes;
        background-color: $footer-redes;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        letter-spacing: 1px;
        margin: 0px;
        padding:20px;
        border: 1px solid #312a27;
    }
    .copy_footer{
        background-color: $footer-color;
        color:$color-copy;
        display: block;
        font-size: 13px;
        text-align: center;
        padding:20px;
        width: 100%;
        font-family:Helvetica,Arial,sans-serif;
    }
}

/* Ionicons */

    ion-icon{
        font-size: $ioni-size;
        color:$primary-color;
        position: relative;
        left: 20px;
        margin:10px;
        &:hover{
            color:$secondary-color;
        }
}

// Imagenes

.container_foto{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    p{
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        color:$primary-color;
        font-family: 'SemplicitaPro-MedIt';
        font-weight: bolder;
        text-shadow:0px 0px 1px $primary-color;
        line-height: 1.5;
        background-color: $footer-color;
        border: 1px solid #504137;
        text-align: center;
        font-size: 19.4px;
        padding: 20px 0px;
    }
    .image_main{
        position:relative;
        width: 49%;
    }
    .kalima-image{
        border: 1px solid #504137;
        transition: all .2s;
        cursor: pointer;
        user-select: none;
        border: 1px solid #504137;
        width: 100%;
        height: 590px;
        &:hover{
            outline:1px solid $primary-color;
        }
    }
}

// Tabla

table{
    border: 1px solid #201f1f;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 400px;
    font-family: 'Arial Narrow';
    .table-style{
        border-collapse: collapse;
    }
    .color_items{
        color:#00358b;
    }
    .color_descripcion{
        color:#3a3a3a;
    }
    th{
        padding: 15px;
        background: #6a322f;
        color:#d1e9f3;
        text-align: center;
    }
    tr td{
        color:rgb(1, 1, 1);
        letter-spacing: 0.08em;
        line-height: 1.6;
        text-align: left;
    }
    tr:nth-child(odd){
        background-color: #f2cda5;
    }    
    tr:nth-child(even){
        background-color: #e7ad70;
    }
    .center{
        text-align: center;
    }    
}
