/* Titulo Principal */
.title{
    font-family: $font-primary;
    font-size: $size-primary;
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
    margin-top: 140px;
    letter-spacing: 5px;
    font-weight: bold; 
    padding: 20px;
    user-select: none;
        /* Letra K */
        h1::first-letter{
        font-size: $first-letter;
        font-family: $font-primary;
        font-style: italic;
        text-shadow: 3px 3px 5px rgb(3, 3, 3);
    }
}

/* Titulo de todas las secciones */
.title_secciones{
    font-family: $font-primary;
    font-size: $size-secondary;
    color:$secondary-color;
    text-align: center;
    margin-bottom: 70px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

/* Titulo de la Tabla */
.title_table{
    color: #00aeff;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 10px;
    position: relative;
    top: 40px;
}

/* Titulo de la seccion crear cuenta titulo (h3) */
.title_create_account{
    h3{
        color:#efd1a4;
        font-size: 22px;
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        margin: 0;
        padding: 5px;
        margin-bottom: 20px;
        background-image:url(https://static.tibia.com/images/global/content/title-background-green.gif);
    }
}

/* Titulo de personajes */
.title_personaje{
    color: #00aeff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Friz Quadrata';
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px;
    margin: 50px;
}

.druid{
    position:relative;
    h3{
        position: absolute;
        top: 15%;
        left: 20%;
        font-size: 60px;
        color:$secondary-color;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Friz Quadrata';
        text-shadow: 0 0 5px black;
        transform: translate(-50%, -50%);
    }
}


.sorcerer{
    position:relative;
    h3{
        position: absolute;
        top: 15%;
        left: 73%;
        font-size: 60px;
        color:$secondary-color;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Friz Quadrata';
        text-shadow: 0 0 5px black;
        transform: translate(-50%, -50%); 
    }
}


.paladin{
    position:relative;
    h3{
        position: absolute;
        bottom: 10%;
        right: 61%;
        font-size: 60px;
        color:$secondary-color;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Friz Quadrata';
        text-shadow: 0 0 5px black;
    }
}

.knight{
    position:relative;
    h3{
        position: absolute;
        bottom: 10%;
        left: 65%;
        font-size: 60px;
        color:$secondary-color;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Friz Quadrata';
        text-shadow: 0 0 5px black;
    }
}


/* Contenedor de monsters titulo h4 */
.container_monsters{
    h4{
        text-align: center;
        font-size: 50px;
        font-family: 'Friz Quadrata';
        color:$secondary-color;
        text-shadow: 0 0 5px;
        text-decoration: underline rgb(236, 236, 24);
    }
}

/* Subtitulo */
.color_titles-main{
    font-family: $font-secondary;
    color:$secondary-color;
    text-transform: uppercase;
    list-style: none;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    position: relative;
    right: 20px;
}

/* Color de subtitulos */
h2, h3, h4, h5, h6{
    color: $h-color;
}