// Tipografias
$font-primary:'Friz Quadrata';
$font-secondary:'Bellefair', serif;
$font-third:'Source Sans Pro', sans-serif;
$font-fourth: Helvetica,Arial,sans-serif;
$font-redes:'SemplicitaPro-MedIt';

// Color del titulo principal
$primary-color:#f8b700;

// Color de los subtitulos
$secondary-color:#fff;

// Color de los h2 hasta el h6
$h-color:#ebdec2;

// Tamaño del titulo principal
$size-primary :45px;

// Primera letra del titulo principal
$first-letter:170px;

// Tamaño de los subtitulos
$size-secondary : 80px;

// Tamaño de los iconos
$ioni-size:25px;

// Color del background del menu
$bg-color:#0b0d12;

// Colores del background del footer
$footer-color:#150c09;
$footer-redes:#1e1714;
$color-copy:rgba(255,255,255,.7);

